body{
    background-image: url('lisa.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 11px solid rgba(58, 124, 247, 0.77);
    border-top: 0px;
    font-family: 'Arial';
    color: whitesmoke;
    margin: 0px;
    padding: 10%;
}

#main_title{
    text-align: center;
    background-color: rgba(42, 55, 80, 0.8);
}

p{
    background-color: rgba(42, 55, 80, 0.8);
    width: 50%;
    font-size: 1.5em;
}

#enviar{
    margin-top: 10px;
    border-radius: 25px;
}

form{text-align: center;}

label{background-color: rgba(42, 55, 80, 0.8);}